<div class="nameVillain">
	<div class="text-name">
		{{villain.name}}
	</div>
	<div class="star">
		<img src="../../../assets/imager/gold-star.png"  alt="">
		<img src="../../../assets/imager/gold-star.png" alt="">
		<img src="../../../assets/imager/gold-star.png" alt="">
		<img src="../../../assets/imager/gold-star.png" alt="">
		<img src="../../../assets/imager/gold-star.png" alt="">
		<img src="../../../assets/imager/gold-star.png"  alt="">
		<img src="../../../assets/imager/gold-star.png" alt="">
		<img src="../../../assets/imager/gold-star.png" alt="">
		<img src="../../../assets/imager/gold-star.png" alt="">
		<img src="../../../assets/imager/gold-star.png" alt="">
	</div>
</div>

<div class="skill">
	<p *ngFor="let skill of villain.skills" class="item-skill">
		{{skill}}
	</p>
	
</div>
<div class="text-change">
		<input type="text"  [(ngModel)]="villain.name">
</div>



